.seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 60rem;
}

.seat {
  margin: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.seatFree {
  margin: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #66ff00;
}

.seatFree:hover {
  background-color: #66ff00;
}

.chosenSeat {
  margin: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fffb00;
}

.chosenSeat:hover {
  background-color: #fffb00;
}

.container {
  padding-top: 20px;
  min-width: 1500px;
  max-width: 1500px;
}

.helper {
  padding-top: 40px;
}

.y {
  padding: 0px;
  width: 70px;
}

.empty {
  padding: 0px;
  width: 35px;
}